<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Workshop01</title>
</head>
<body>
    <img src="apple.jpg" alt="" >
    {{text}}
    {{{body}}}

    <h3> Repository <a href="https://github.com/wangmw11/myrepo">https://github.com/wangmw11/myrepo</a></h3>

</body>
</html>